body {
    font-family: 'Poppins', sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: left;
}

.box h3 {
    margin-top: 0;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    background: #2d89ef;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}